apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: order-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: MONGODB_URI
              value: mongodb://order-db:27017/orderdb
            - name: DB_NAME
              value: orderdb
            - name: USER_SERVICE_URL
              value: http://user-service:4000
            - name: LOG_LEVEL
              value: INFO
            - name: REQUEST_TIMEOUT_SECONDS
              value: "3"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
